
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_sbadmin.cshtml";


}
@section style{
    <link href="~/Content/date-time-picker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <style>

        .field-validation-error {
            color: red !important;
            font-size: 0.85em;
            display: inline-block;
            margin-bottom: 10px;
        }

        .input-validation-error {
            border: solid 1px #d1d3e2 !important;
        }

        .input-group {
            margin-bottom: 10px;
        }
    </style>
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Delivery Details</h1>

    </div>
    <div class="row">
        <div class="col-md-12 m-auto">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Complete the form</h6>
                </div>
                <form class="form" id="frmSubmitIncidentReport" method="post" action="">
                    <div class="card-body">



                        <label>Client Name</label>
                        @Html.TextBox("PoNumber", null, new { @class = "form-control mb-4" })


                        <label>Delivery Address</label>
                        @Html.TextBox("PoNumber", null, new { @class = "form-control mb-4" })

                        <label>Delivery Date</label>
                        @Html.TextBox("PoNumber", null, new { @class = "form-control mb-4" })

                        <label>PO Number</label>
                        @Html.TextBox("PoNumber", null, new { @class = "form-control mb-4" })

                        <label>Additional Notes</label>
                        @Html.TextArea("PoNumber", null, new { @class = "form-control mb-4" })


                    </div>
                    <div class="card-footer">
                        <button onclick="SubmitIncidentReport()" style="padding:5px 30px 5px 10px;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-fw fa-save text-white-50" data-save-btn=""> </i>&nbsp; &nbsp; Save</button>
                        <a style="padding:5px 30px 5px 10px;" href="/admin/incident/index" class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm"><i class="fas fa-fw fa-arrow-left text-gray-500"> </i>&nbsp; &nbsp; Back</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section scripts{

}