@model WLTIDeliveryTool.ViewModel.CreateUserViewModel
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_sbadmin.cshtml";


}
@section style{
    <link href="~/Content/date-time-picker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <style>

        .field-validation-error {
            color: red !important;
            font-size: 0.85em;
            display: inline-block;
            margin-bottom: 10px;
        }

        .input-validation-error {
            border: solid 1px #d1d3e2 !important;
        }

        .input-group {
            margin-bottom: 10px;
        }
    </style>
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create New</h1>

    </div>
    <div class="row">
        <div class="col-md-12 m-auto">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">User Details</h6>
                </div>
                <form class="form" id="frmCreateUser" method="post" action="">
                    <div class="card-body">

                        <label>Username</label>
                        @Html.TextBoxFor(m => m.Username, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, null, new { @style = "color:red;" })<br />

                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @style = "color:red;" })<br />

                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @style = "color:red;" })<br />

                        <label>User Role</label>
                        @Html.DropDownListFor(m => m.Role, new List<SelectListItem> { new SelectListItem { Text = "Please select user role", Value = "", Selected = true }, new SelectListItem { Text = "Administrator", Value = "1" }, new SelectListItem { Text = "Standard User", Value = "2" }, new SelectListItem { Text = "View Only User", Value = "3" } }, new { @class = "form-control custom-select" })
                        @Html.ValidationMessageFor(m => m.Role, null, new { @style = "color:red;" })<br />
                    </div>
                    <div class="card-footer">
                        <button id="btnSave" onclick="CreateUser()" style="padding:5px 30px 5px 10px;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-fw fa-save text-white-50" data-save-btn=""> </i>&nbsp; &nbsp; Save</button>
                        <a style="padding:5px 30px 5px 10px;" href="#" class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm"><i class="fas fa-fw fa-arrow-left text-gray-500"> </i>&nbsp; &nbsp; Back</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/button-loader.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });

        let btn = new ButtonLoader('btnSave');

        function CreateUser() {
            event.preventDefault();
            let form = $('#frmCreateUser');

            if (form.valid()) {

                let model = {

                    Username: $('input[name="Username"]').val(),
                    Password: $('input[name="Password"]').val(),
                    Role: $('select[name="Role"]>option:selected').val()

                };

                Save(model);
            }

        }

        let Save = function (model) {

            $.ajax({
                type: 'POST',
                url: location.origin + '/Account/SaveUser',
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                beforeSend: function () {
                    btn.Processing();
                }

            }).done(function (data) {
                btn.Completed();
                setTimeout(function () { alert(data.message); }, 1000)
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });

        };


    </script>
}