
@model DAL.ChannelSalesExecutive
@using WLTIDeliveryTool.Helper

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_sbadmin.cshtml";


}
@section style{
    <link href="~/Content/date-time-picker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/Scripts/date-utilities.js"></script>
    <script src="~/Scripts/button-loader.js"></script>
    <style>

        .field-validation-error {
            color: red !important;
            font-size: 0.85em;
            display: inline-block;
            margin-bottom: 10px;
        }

        .input-validation-error {
            border: solid 1px #d1d3e2 !important;
        }

        .input-group {
            margin-bottom: 10px;
        }

        table > tbody > tr:hover {
            cursor: pointer;
        }

        table > tbody > tr > td:not(:first-child):not(:last-child) {
            font-size: .85em;
            white-space: nowrap;
            min-width: 300px;
        }

        table > tbody > tr > td:nth-child(2) {
            min-width: 550px !important;
        }

        table > tbody > tr > td:last-child {
            text-align: center;
        }
    </style>
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Channel Sales Executives</h1>

    </div>
    <div class="row">

        <div class="col-md-12 m-auto">
            <div class="card shadow mb-4">
                <div class="card-header float-left">
                    <h6 class="m-0 font-weight-bold text-primary float-left">CSE List</h6>
                    <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#modalProgress"><i class="fa fa-plus text-white"></i></button>
                </div>


                <div class="card-body">

                    <div class="table table-responsive" style="width:100%;">
                        <table id="tblCse" class="dataTable display-compact table-responsive" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th> Last Name</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td>Id</td>
                                    <td>First Name</td>
                                    <td>Last Name</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>



                </div>



            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProgress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Channel Sales Executives</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 m-auto">

                    <form class="form" id="frmCreateCse" method="post" action="">

                        <div class="row mb-2">
                            <div class="col-md-12 col-xs-12">
                                <label>First Name</label>
                                @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control", @placeholder = "Enter name here" })

                                @Html.ValidationMessageFor(m => m.FirstName, null, new { @style = "color:red;" })



                            </div>
                            <div class="col-md-12 col-xs-12">


                                <label>Last Name</label>
                                @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control", @placeholder = "Enter name here" })

                                @Html.ValidationMessageFor(m => m.LastName, null, new { @style = "color:red;" })

                            </div>

                        </div>




                    </form>


                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSave" onclick="CreateCse()" style="padding:5px 30px 5px 10px;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-fw fa-save text-white-50" data-save-btn=""> </i>&nbsp; &nbsp; Save</button>




            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpdateCse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update CSE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 m-auto">

                    <form class="form" id="frmUpdateCse" method="post" action="">

                        <div class="row mb-2">
                            <div class="col-md-12 col-xs-12">
                                <label>First Name</label>
                                @Html.EditorFor(m => m.FirstName, new { @htmlAttributes = new { @class = "form-control", @placeholder = "Enter name here" } })

                                @Html.ValidationMessageFor(m => m.FirstName, null, new { @style = "color:red;" })
                                <label>Last Name</label>
                                @Html.EditorFor(m => m.LastName, new { @htmlAttributes = new { @class = "form-control", @placeholder = "Enter name here" } })

                                @Html.ValidationMessageFor(m => m.LastName, null, new { @style = "color:red;" })
                                @Html.HiddenFor(m => m.CSEID)

                            </div>

                        </div>




                    </form>


                </div>
            </div>
            <div class="modal-footer">
                <button id="btnUpdate" onclick="SaveUpdate()" style="padding:5px 30px 5px 10px;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-fw fa-save text-white-50" data-save-btn=""> </i>&nbsp; &nbsp; Save</button>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Content/date-time-picker/src/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/sb-admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/sb-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/date-utilities.js"></script>
    <script src="~/Scripts/button-loader.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblCse').DataTable({
                "ajax": {
                    "url": "/cse/displaycse",
                    "type": "POST",
                    "dataType": "json"
                },
                "columns": [{ "data": "CSEID", "name": "CSEID" },
                { "data": "FirstName", "name": "FirstName" },
                { "data": "LastName", "name": "LastName" },
                {
                    "data": "CSEID", "render": function (data) {
                        return "<button onclick='Update(" + data + ")' class='btn btn-light btn-sm'><i class='fa fa-pen'></i></button> "

                    },
                    "orderable": false,
                    "width": "100px"
                }

                ],

                "serverSide": true,
                "processing": true,
                "language": { "emptyTable": "No data found, Please click on <b>Add New</b> Button." }

            });



        });
        function CreateCse() {
            event.preventDefault();
            let form = $('#frmCreateCse');

            if (form.valid()) {

                let model = {

                    FirstName: $('input[name="FirstName"]').val(),
                    LastName: $('input[name="LastName"]').val(),

                }

                Save(model);

            } else {

            }

        }
        let btn = new ButtonLoader('btnSave');
        let Save = function (model) {

            $.ajax({
                type: 'POST',
                url: location.origin + '/cse/savecse',
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                beforeSend: function () {
                    btn.Completed();
                }

            }).done(function (data) {
                btn.Completed();
                setTimeout(function () { window.location = location.origin + '/home/index'; }, 1000);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });

        };

        function Update(cseId) {

            let model = { id: cseId };

            GetCseById(model);
        }

        function SaveUpdate() {
            event.preventDefault();
            let form = $('#frmUpdateCse');

            if (form.valid()) {

                let model = {
                    CSEID: $('input[name="CSEID"]').val(),
                    FirstName: $('#frmUpdateCse input[name="FirstName"]').val(),
                    LastName: $('#frmUpdateCse input[name="LastName"]').val()

                };

                SaveChanges(model);

            } else {

            }

        }

        function GetCseById(model) {
            $.ajax({
                type: 'POST',
                url: location.origin + '/cse/getcse',
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                beforeSend: function () {

                }

            }).done(function (data) {
                $('#frmUpdateCse input[name="FirstName"]').val(data.FirstName);
                $('#frmUpdateCse input[name="LastName"]').val(data.LastName);
                $('input[name="CSEID"]').val(data.Id);
                $('#modalUpdateCse').modal('show');
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });
        }

        let btnUpdate = new ButtonLoader('btnUpdate');

        let SaveChanges = function (model) {

            $.ajax({
                type: 'POST',
                url: location.origin + '/cse/savechangestocse',
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                beforeSend: function () {
                    btnUpdate.Processing();
                }

            }).done(function (data) {
                btnUpdate.Completed();
                btnUpdate.Default();
                setTimeout(function () { alert(data.message); }, 1000);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });

        };
    </script>
}
